.App {
  min-height: 100vh;
  margin: 120px auto;
  width: 80%;
}
.subheading {
  font-size: medium;
  color: gray;
  font-style: italic;
  font-weight: 300;
}
.profile-summary {
  max-width: 80ch;
}
.work-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work-boxes {
  width: fit-content;
  border: 0.5px solid #213547;
  border-radius: 4px;
  box-shadow: 0 0 36px 0 hsla(213, 100%, 94%, 0.4);
  -webkit-box-shadow: 0 0 hsla(213, 100%, 94%, 0.4);
  -moz-box-shadow: 0;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
}
.work-image {
  max-width: 240px;
  height: auto;
}
.work-desc {
}
.breadcrumb {
  text-align: left;
}
